<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>ToDo List</title>
	<link rel="stylesheet" href="dist/style.css">
	<base href="/" />
</head>
<body>

	<div id="mainContainer" ng-app="toDoApp">
		<div ng-controller="toDoController">
			<h2>Todos count: {{ todos.length }}</h2>
			<span ng-if="todos.length === 0">You have no active todos!</span>
			<span ng-if="todos.length > 0">
				Hey! You have <span class="remainingToDo">{{ remainingTasksCount }}</span> todos left. <span class="completedToDo">{{ completedTasksCount }}</span> has already been complete.
			</span>
			<a class="addToDo" href="/todo/add">ADD TODO</a>

			<div ng-view></div>
		</div>
	</div>
	
	<script src="node_modules/angular/angular.js"></script>
	<script src="node_modules/angular-messages/angular-messages.js"></script>
    <script src="node_modules/angular-route/angular-route.js"></script>
	<script src="dist/bundle.js"></script>

</body>
</html>