html, body {
	height: 100%;
}

body {
	background: #84cef0;
	font-size: 18px;
	margin: 50px 300px;
	font-family: monospace;
}

button, input, .addToDo {
	font-size: 16px;
    border-radius: 10px;
    padding: 6px;
	background: orange;
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.remainingToDo, .completedToDo {
	font-weight: bold;
	border-bottom: 1px solid;
}

.completedTask {
	text-decoration: line-through;
	font-weight: bold;
}

.error-msgs {
	list-style: none;
	padding: 0;
	li {
		font-weight: bold;
		color: #bc1a1a;
	}
}

.filterByDaysOldContainer {
	width: 100%;
	display: inline-block;
	margin-bottom: 10px;
}

.sortTypeButtonsContainer {
	display: inline-block;
	margin-bottom: 10px;
}